*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(14, 22, 33) ;
    height: 100vh;
}
.data{
    display: flex;
    flex-wrap: wrap;
}
.row{
    width: 100%;
}

/* common */
.jc-center{
    justify-content: center;
}
